@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <span>Bienvenido,</span>
        <h2>@User.Identity.GetUserName()</h2>

    }
}
else
{


    <ul class="nav navbar-nav navbar-right">
        Ingrese al sistema
    </ul>
}